body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}

/* Message Container */
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
  margin: 10px;
}

/* User Message */
.user-message {
  background-color: #196dae;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Response Message */
.response {
  background-color: #dcf8c6;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

/* Input and Loading Container */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  position: sticky;
  bottom: 0;
}

/* Input Field */
.input {
  display: flex;
  align-items: center;
}

.input input {
  flex-grow: 1;
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

/* Send Button */
.input button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input button:hover {
  background-color: #258cd1;
}

/* Loader */
.loader {
  display: block;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
